! Xft settings
Xft.dpi:                    96
Xft.autohint:               0
Xft.antialias:              1    
Xft.hinting:                false 
Xft.hintstyle:              hintslight
Xft.rgba:                   rgb
Xft.lcdfilter:              lcddefault

! Rofi
rofi.font:                  Roboto Light 15
! Line height
rofi.eh:                    2
